a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #1C1C1C;
}

html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    background-color: #1C1C1C;
    color: white;
    text-align: center;
    font-size: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.header_item {
    flex: 10;
}

.article {
    flex: 9;
    overflow-y: scroll;
    padding: 0px;
    animation: fadeIn 1.5s linear;
    color: #1C1C1C;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dot {
    height: 80px;
    width: 80px;
    background-color: #2E64FE;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
    margin-left: 40px;
    margin-right: 30px;
}

.bb {
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    background-color: ;
    height: 180px;
    line-height: 80px;
    text-align: left;
    font-size: 7vmin;
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

main {
    animation: 1s bodyPopIn ease-in-out;
}

@keyframes bodyPopIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}