html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    background-color: #1C1C1C;
    color: white;
    text-align: center;
    font-size: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.header_item {
    flex: 10;
}

.article {
    flex: 7;
    overflow-y: scroll;
    padding: 13px;
    font-size: 1.1em;
    animation: fadeIn 1.5s linear;
    color: #1C1C1C;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    flex: 2;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item {
    flex: 10;
    padding: 10px;
    border-top: 1px solid #c1c1c1;
}

audio {
    width: 100%;
    display: block;
}

.header_1 {
    color: gray;
    font-family: arial;
    padding-bottom: 2px;
}