      a:link {text-decoration:none; color:black;}
      a:visited {text-decoration:none; color:black;}
      a:active {text-decoration:none; color:black;}
      a:hover {text-decoration:none; color:#646464;}

      /*description*/
      .cb {
        font-size: 3em;
        box-sizing: content-box;
        background-color: #1C1C1C;
        height: 120px;
        line-height: 120px;
        text-align: center;
        position: sticky;
        top: 0;
        color: white;
        opacity: 0.9;        
      }      
      
      .desc {
        margin: 10px;
        border: 10px;       
        color: black;
      }
      /*audio*/      
      .body_audio {
        margin: 10px;
      }
      audio {
        width: 100%; 
        display: block;
      }
      /*box*/
      /*
      div {
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 100%;        
      }
      */
      .bb {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        box-sizing: border-box;
        background-color: ;
        height: 150px;
        line-height: 75px;
        text-align: left;
        font-size: 2.5em;
        margin: 0px;
        padding: 0px;
        border: px solid #dddddd;
        font-family: "arial";
      }
      .dot {
        height: 80px;
        width: 80px;
        background-color: #2E64FE;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 35px;
      }



main {
        animation: .5s bodyPopIn ease-in-out;
    }

    @keyframes bodyPopIn {
        from {
          opacity: 0;
          transform: translateY(10px);
        }
        to {
          opacity: 1;
          transform: none;
      }
    }

    body {
      
      font-family: 'Open Sans', sans-serif;
    }